/* css common */
:root {
    --font-used: 'Roboto', sans-serif;
    --header-height: 46.5px;
    --item-height: 31.5px;
    --gray: #868e96;
    --light: #f8f9fa;
    --purple: #414c74;
    --black: #181717;
    --primary: #5567ff;
    --secondary: #824ee1;
}

.col-half
{
    float: left;
    width: 50%;
}

/* css main */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-used);
}

html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: small;
}

#header {
    height: var(--header-height);
    background: var(--purple);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display:inline-block;
}

#nav li {
    display:inline-block;
    position:relative;
}

#nav li a {
    display: inline-block;
    margin: calc((var(--header-height) - var(--item-height))/2) 12px;
    line-height: var(--item-height);
    text-decoration: none;
    color: var(--light);
    padding: 0 10px;
}

#nav >li >a{
    text-transform: uppercase;
}

#nav li:hover .subnav,
#avatar:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 3px;
}

#nav>li:hover>a,
#nav .subnav li:hover>a,
#avatar .subnav li:hover>a {
    background: var(--light);
    color: var(--black);
    border-radius: 3px;
}

#nav .subnav a {
    margin: 0 0;
    color: var(--gray);
}

#avatar{
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 1%;
}

#avatar:hover .avatar-icon {
    background: var(--light);
    color: var(--black);
    cursor: pointer;
    border-radius: 3px;
}


#avatar .avatar-icon {
    display: inline-block;
    margin: calc((var(--header-height) - var(--item-height))/2) 30px;
    line-height: var(--item-height);
    color: white;
    padding: 0 20px;
}

#avatar .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    list-style: none;
    text-align: center;
    min-width: 100%;
}

#avatar .subnav a {
    color: var(--gray);
    line-height: var(--item-height);
    text-decoration: none;
}

#add-student {
    display: inline-block;
    width: 100%;
    margin-top: var(--header-height);
}

#add-student > p{

    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
}

#add-student .button{
    display: block;
    width: fit-content;
    padding: 5px 15px;
    margin-left: 30px;
    font-size: medium;
    text-decoration: none;
    color: var(--primary);
    border: var(--primary) 1px solid;
}

#add-student .button:hover{
    background: var(--primary);
    color: var(--light);
}

#add-student .input-group{
    display: flex;
    width: 60%;
    margin: 20px auto;
    flex-direction: column;
    background: url(../assets/img/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#add-student .input-group .item{
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: var(--primary);
    text-shadow: #f8f9fa 1px 1px 1px;
}

#add-student .input-group .item input
{
    width: 250px;
    height: 25px;
    font-family: var(--font-used);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: var(--primary) 1px solid;
}

#add-student .input-group .item #student-address
{
    height: 60px;
}

#add-student .input-group .sub-item
{
    width: 50%;
}

#add-student .input-group .sub-item label
{
    margin-right: 10px;
}

#add-student .input-group .sub-item input
{
    width: 75%;
}

#add-student .input-group .sub-item select
{
    font-family: var(--font-used);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    padding: 0 10px;
    border-radius: 5px;
    border: var(--primary) 1px solid;
}

#add-student .input-group .save-btn
{
    display: block;
    margin-top: 60px;
    margin-left: 70%;
    margin-right: auto;
    margin-bottom: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
