#add-student {
    display: inline-block;
    width: 100%;
    margin-top: var(--header-height);
}

#add-student > p{

    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary);
}

#add-student .button{
    display: block;
    width: fit-content;
    padding: 5px 15px;
    margin-left: 30px;
    font-size: medium;
    text-decoration: none;
    color: var(--primary);
    border: var(--primary) 1px solid;
    transition: all 0.3s;
}

#add-student .button:hover{
    background: var(--primary);
    color: var(--light);
}

#add-student .input-group{
    display: flex;
    width: 60%;
    margin: 20px auto;
    flex-direction: column;
    background: url(../assets/img/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#add-student .input-group .item{
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: var(--primary);
    text-shadow: #f8f9fa 1px 1px 1px;
}

#add-student .input-group .item input
{
    width: 250px;
    height: 25px;
    font-family: var(--font-used);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: var(--primary) 1px solid;
}

#add-student .input-group .item #student-address
{
    height: 60px;
}

#add-student .input-group .sub-item
{
    width: 50%;
}

#add-student .input-group .sub-item label
{
    margin-right: 10px;
}

#add-student .input-group .sub-item input
{
    width: 75%;
}

#add-student .input-group .sub-item select
{
    font-family: var(--font-used);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 25px;
    padding: 0 10px;
    border-radius: 5px;
    border: var(--primary) 1px solid;
}

#add-student .input-group .save-btn
{
    display: block;
    margin-top: 60px;
    margin-left: 70%;
    margin-right: auto;
    margin-bottom: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
